.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  margin: 0;
}

.inputs input{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  
  
}

.inputs {
  border-radius: 10px;
  background-color: rgb(83, 83, 255);
  text-align: center;
}

button{
  padding: 5px;
  font-size: larger;
  margin: 20px;
  border-radius: 5px;
  color: rgb(59, 59, 59);
}

.faktura-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 50px;
}

.dane_gora{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}



table{
  border-collapse: collapse;
  width: 70vw;
  /* border: 1px solid black; */
  text-align: center;
  
  
}

table th , td{
  border: 1px solid #bcbcbc;
  padding: 8px;
}

.sprzedawca_nabywca{
  background-color: rgb(183, 183, 183);
  text-align: center;
}

.produkty{
  margin-top: 100px;
}

.produkty_gora{
  background-color: rgb(183, 183, 183);

}

.faktura_dane{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin:50px auto;
  
}

.faktura_dane h3{
  margin: 0;
}

.sprzedawca{
  width: 40%;
}

.nabywca{
  width: 40%;
}

.do_zaplaty{
  display: flex;
  justify-content: end;
  margin-top:50px;
}

.podpisy{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.link{
  text-decoration: none;
  background-color: rgb(202, 47, 47);
  color:white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease;
}

.link:hover{
  padding: 12px;
  
}

