.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs input{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  
  
}

.inputs {
  border-radius: 10px;
  background-color: rgb(83, 83, 255);
  text-align: center;
}

button{
  padding: 5px;
  font-size: larger;
  margin: 20px;
  border-radius: 5px;
  color: rgb(59, 59, 59);
}

.faktura-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dane_gora{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table{
  border-collapse: collapse;
  width: 100%;
}
